/*Estilos generales*/
html,body,h1,h2,h3,h4,h5, label {
   font-family: "Raleway", sans-serif;
}
.nb-input{
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.margin-top20{
    margin-top:20px;
}
.espaciador{
    position:absolute;
    top:3vw;
    width:100%;
}
/*Estilos generales*/

/*login.jsp*/
.fondoLogin{
    background-image:url("../resources/fondoLogin.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    
}
.loginContainer{
    position:relative;
    background-color:rgba(255,255,255,1);
    width:350px;
    height:600px;
    border-radius:15px;
    margin: 0 auto;
    
    /*Sombra*/
    -webkit-box-shadow: 10px 7px 27px -9px rgba(0,0,0,0.82);
    -moz-box-shadow: 10px 7px 27px -9px rgba(0,0,0,0.82);
    box-shadow: 10px 7px 27px -9px rgba(0,0,0,0.82);
}
.logoLogin{
    height:auto;
    width:250px;
    position: relative;
    top:80px;
    left:0;
}
.logoLoginContainer{
    margin:0 auto;
    text-align:center;
    width:350px;
    height:200px;
    position:relative;
}
#idFormLogin{
    position:absolute;
    margin:0 auto;
    top:210px;
    width:100%;
    margin-left:15px;
}
#txtbxUsuario, #txtbxPassword, #idFormLogin input[type="submit"]{
    width:300px;
    height:50px;
    padding:5px;
}
#idFormLogin input[type="submit"]{
    border-radius:5px;
}
/*login.jsp*/
